<html lang="en">
    <head>
        <title>Snoops</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"
        ></script>
        <link rel="stylesheet" href="/styles/style.css" />
        <link rel="stylesheet" href="/styles/signin.css" />
        <link rel="stylesheet" href="/styles/signup.css" />
        <link rel="stylesheet" href="/styles/scroller.css" />
        <link rel="stylesheet" href="/styles/settings.css" />
        <link rel="stylesheet" href="/styles/chats.css" />
        <link rel="stylesheet" href="/styles/ac-dashboard.css" />
    </head>
    <body class="main-page">
        <header>
            <a href="/"><h1>Snoops</h1></a>
            <nav>
                <ul>
                    {{#if user}}

                        <li><a href="/users/settings/{{user._id}}">Hello,
                                {{user.firstName}}!</a></li>
                        <li><a href="/users/logout">Log out</a></li>
                    {{else}}
                        {{#if acenter}}
                            <li><a
                                    href="/acenters/ac-dashboard/{{acenter._id}}"
                                >Hello, {{acenter.name}}!</a></li>
                            <li><a href="/acenters/logout">Log out</a></li>

                        {{else}}
                            <li class="auth-links"><a
                                    href="/users/login-page"
                                >Log in</a></li>
                            <li class="auth-links"><a
                                    href="/users/signup-page"
                                >Sign up</a></li>
                        {{/if}}{{/if}}
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </header>
        {{{body}}}
        <footer>
            <p>&copy; 2023 Snoops</p>
        </footer>
    </body>
</html>