<main>
    <div class="ac-wrapper">
        <div class="ac-dashboard-main">
            <h2 class="ac-posted">Welcome, {{acenter.name}}</h2>
            <img
                src="{{acenter.img}}"
                alt="Acenter Image"
                class="acenter-image"
            >
            <form
                id="update-acenter"
                class="acenter-info-form"
                action="/acenters/{{acenter._id}}"
                method="POST"
                enctype="multipart/form-data"
            >
                <label for="email" class="settingsLabel">Email:</label>
                <input
                    type="email"
                    name="email"
                    id="email"
                    value="{{acenter.email}}"
                    class="settingsInput"
                >
                <label for="name" class="settingsLabel">Name:</label>
                <input
                    type="text"
                    name="name"
                    id="name"
                    value="{{acenter.name}}"
                    class="settingsInput"
                >
                <label for="password" class="settingsLabel">Password:</label>
                <input id="password" type="password" name="password" class="settingsInput">
                <label for="contactFirstName" class="settingsLabel">Contact First Name:</label>
                <input
                    type="text"
                    name="contactFirstName"
                    id="contactFirstName"
                    value="{{acenter.contactFirstName}}"
                    class="settingsInput"
                >
                <label for="contactLastName" class="settingsLabel">Contact Last Name:</label>
                <input
                    type="text"
                    name="contactLastName"
                    id="contactLastName"
                    value="{{acenter.contactLastName}}"
                    class="settingsInput"
                >
                <label for="phone" class="settingsLabel">Phone:</label>
                <input
                    type="tel"
                    name="phone"
                    id="phone"
                    value="{{acenter.phone}}"
                    class="settingsInput"
                >
                <label for="address" class="settingsLabel">Address:</label>
                <input
                    type="text"
                    name="address"
                    id="address"
                    value="{{acenter.address}}"
                    class="settingsInput"
                >

                <label for="image" class="settingsLabel">Profile Picture</label>
                <input 
                    type="file" 
                    name="image"
                    id="image" 
                    accept=".jpeg,.png,.img"
                    style="margin-left: 30%;"
                >

                <input type="hidden" name="_method" value="PUT" >
                <input
                    type="submit"
                    value="Update Info"
                    class="update-info-btn"
                >
            </form>
            <div class="error-message" hidden>Error: Invalid input</div>
        </div>
        <div class="ac-dashboard-dogs">
            <h3 class="ac-posted ac-posted-dogs">Here are your posted dogs:</h3>
            <div
                class="dog-grid"
                data-dob="{{this.dob}}"
                data-size="{{this.size}}"
            >
                {{#each dogs}}
                    <div
                        class="dog-card"
                        data-dog-id="{{this._id}}"
                        data-dob="{{this.dob}}"
                        data-size="{{this.size}}"
                        data-gender="{{this.gender}}"
                        data-breeds="{{this.breeds}}"
                    >

                        <img
                            src="{{this.img}}"
                            alt="{{this.name}}"
                            class="dog-image"
                        >
                        <h4>{{this.name}}</h4>
                        {{#each this.breeds}}
                            {{! display the every breed separately }}
                            <p>{{this}}</p>
                        {{/each}}
                        <p class="description">{{this.description}}</p>
                        <p class="adoptionStatus">{{this.adoptionStatus}}</p>

                    </div>
                {{/each}}
                <div class="add-dog-card">
                    <a href="#" class="add-dog-btn">Add Dog</a>
                </div>
            </div>
        </div>
        <div class="modal" id="create-dog-modal">
            <div class="modal-content create-dog-modal-content">
                <span class="close create-dog-close">&times;</span>
                <h2 class="create-dog-header">Create a Dog</h2>
                <form
                    id="create-dog-form"
                    class="create-dog-form"
                    method="POST"
                    data-id="{{acenter._id}}"
                >
                    <div id="errorModal" class="error">
                        {{#if error}}
                            {{error}}
                        {{/if}}
                    </div>
                    <label for="dogName">Name</label>
                    <input type="text" id="dogName" name="name" required >

                    <label for="dogDob">Date of Birth</label>
                    <input type="date" id="dogDob" name="dob" required >

                    <label for="dogBreed1">Breed 1</label>
                    <input type="text" id="dogBreed1" name="breed1" required >

                    <label for="dogBreed2">Breed 2 (Optional)</label>
                    <input type="text" id="dogBreed2" name="breed2" >

                    <label for="dogBreed3">Breed 3 (Optional)</label>
                    <input type="text" id="dogBreed3" name="breed3" >

                    <label for="dogGender">Gender</label>
                    <select size="2" id="dogGender" name="gender" required>
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                    </select>

                    <label for="dogSize">Size</label>
                    <input
                        type="number"
                        id="dogSize"
                        name="size"
                        placeholder="Weight in lbs"
                        required
                    >
                    <button
                        type="submit"
                        class="create-dog-submit-btn"
                        id="create-dog-submit-btn"
                    >Add Dog</button>
                </form>
            </div>
        </div>
        <div id="update-dog-modal" class="modal">
            <div class="update-dog-modal-content">
                <span class="update-dog-close">&times;</span>
                <h2 class="update-dog-header">Update Dog Information</h2>
                <form 
                    class="update-dog-form"
                    id="update-dog-form"
                    method="POST"
                    enctype="multipart/form-data"
                    data-id="{{acenter._id}}"
                >
                    <div id="errorUpdateModal" class="error">
                        {{#if error}}
                            {{error}}
                        {{/if}}
                    </div>

                    <div class="update-dog-form-left">
                        <label for="dogUpdateImage">Dog Image:</label>
                        <img
                            src="null"
                            alt="Dog Image"
                            id="dogUpdateImagePreview"
                            style="max-width: 50%;"
                        >
                        <input 
                            type="file" 
                            name="image" 
                            id="dogUpdateImage" 
                            accept=".jpeg,.png,.img"
                        >
                    </div>
                    <div class="update-dog-form-right">
                        <label for="dogUpdateName">Name:</label>
                        <input
                            type="text"
                            name="name"
                            id="dogUpdateName"
                            placeholder="Name"
                        >
                        <label for="dogUpdateDob">Date Of Birth:</label>
                        <input
                            type="date"
                            name="dob"
                            id="dogUpdateDob"
                        >
                        <label for="dogUpdateBreed1">Breed 1:</label>
                        <input
                            type="text"
                            name="breed1"
                            id="dogUpdateBreed1"
                            placeholder="Breed 1"
                        >
                        <label for="dogUpdateBreed2">Breed 2 (Optional):</label>
                        <input
                            type="text"
                            name="breed2"
                            id="dogUpdateBreed2"
                            placeholder="Breed 2 (Optional)"
                        >
                        <label for="dogUpdateBreed3">Breed 3 (Optional):</label>
                        <input
                            type="text"
                            name="breed3"
                            id="dogUpdateBreed3"
                            placeholder="Breed 3 (Optional)"
                        >
                        <label for="dogUpdateGender">Gender:</label>
                        <select name="gender" id="dogUpdateGender">
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>
                        <label for="dogUpdateSize">Weight:</label>
                        <input
                            type="number"
                            name="size"
                            id="dogUpdateSize"
                            placeholder="Weight in lbs"
                            required
                        >
                        <input type="hidden" id="hiddenDogId" name="hiddenDogId">
                        <label for="dogUpdateAdoptionStatus">Dog Status:</label>
                        <select
                            name="adoptionStatus"
                            id="dogUpdateAdoptionStatus"
                        >
                            <option value="Available">Available</option>
                            <option value="Pending">Pending</option>
                            <option value="Adopted">Adopted</option>
                        </select>
                        <button
                            class="delete-dog-btn"
                            type="button"
                        >Delete</button>
                        <button
                            class="update-dog-submit-btn"
                            type="submit"
                        >Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>
{{!-- <script src="/js/dashboard.js"></script> --}}
<script type="module">
    import * as clientValidation from '/js/client-validation-methods.js';
    function calculateAge(dob) {
        let today = new Date();
        let age = today.getFullYear() - dob.getFullYear();
        let monthDifference = today.getMonth() - dob.getMonth();
        let dayDifference = today.getDate() - dob.getDate();

        if (monthDifference < 0 || (monthDifference === 0 && dayDifference < 0)) {
            age--;
            if (today.getMonth() === 0) {
                monthDifference = 11;
            } else {
                monthDifference = 12 + monthDifference;
            }
        }

        if (age === 0) {
            //let monthAge = today.getMonth() - dob.getMonth();
            if (monthDifference === 0 && dayDifference < 30) {
                return "Less than a month old";
            } else {
                return `${monthDifference === 1 ? "1 month" : monthDifference + " months"} old`;
            }
        } else {
            return `${age === 1 ? "1 year" : age + " years"} old`;
        }
    } 

    function getSizeGroup(size) {
        if (size >= 0 && size <= 24) {
            return "Small";
        } else if (size >= 25 && size <= 59) {
            return "Medium";
        } else if (size >= 60 && size <= 99) {
            return "Large";
        } else if (size >= 100) {
            return "Giant";
        } else {
            return "Unknown";
        }
    }

    function getBreedsArray() {
        // ! don't forget to validate the inptus
        const breed1 = document.getElementById("dogBreed1").value;
        const breed2 = document.getElementById("dogBreed2").value;
        const breed3 = document.getElementById("dogBreed3").value;

        const breeds = [breed1, breed2, breed3].filter((breed) => breed !== "");
        // console.log(breeds);
        return breeds;
    }

    function setupAddDogCardEventListener(selector, style) {
        const addDogBtn = document.querySelector(selector);
        if (addDogBtn) {
            addDogBtn.addEventListener("click", function (event) {
                event.preventDefault();
                document.querySelector("#create-dog-modal").style.display = style;
            });
        } else {
            setTimeout(setupAddDogCardEventListener, 100);
        }
    }

    function setupUpdateDogCardEventListener(selector, style) {
        const updateDogBtn = document.querySelector(selector);
        if (updateDogBtn) {
            updateDogBtn.addEventListener("click", function (event) {
                event.preventDefault();
                document.querySelector("#update-dog-modal").style.display = style;
            });
        } else {
            setTimeout(() => setupUpdateDogCardEventListener(selector, style), 100);
        }
    }
    function openUpdateDogModal(card) {
        const dogId = card.dataset.dogId;
        const dogModal = document.querySelector("#update-dog-modal");
        dogModal.dataset.dogId = dogId;

        const dogName = card.querySelector("h4").textContent;
        const dogDob = card.dataset.dob;
        //console.log(card.dataset.breeds);
        const dogBreeds = card.dataset.breeds.split(",");
        //console.log(dogBreeds);
        const dogGender = card.dataset.gender;
        const dogSize = card.dataset.size;
        //const dogDescription = card.querySelector("p.description").textContent;
        const dogAdoptionStatus =
            card.querySelector("p.adoptionStatus").textContent;

        const deleteButton = dogModal.querySelector(".delete-dog-btn");
        deleteButton.dataset.dogId = dogId;

        dogModal.querySelector("#dogUpdateName").value = dogName;
        dogModal.querySelector("#dogUpdateDob").value = dogDob;

        const dogImgSrc = card.querySelector("img").src;
        const [dogBreed1, dogBreed2, dogBreed3] = dogBreeds;

        dogModal.querySelector("#dogUpdateBreed1").value = dogBreed1 || "";
        dogModal.querySelector("#dogUpdateBreed2").value = dogBreed2 || "";
        dogModal.querySelector("#dogUpdateBreed3").value = dogBreed3 || "";

        dogModal.querySelector("#dogUpdateImagePreview").src = dogImgSrc;
        dogModal.querySelector("#dogUpdateGender").value = dogGender;
        dogModal.querySelector("#dogUpdateSize").value = dogSize;
        dogModal.querySelector("#dogUpdateAdoptionStatus").value = dogAdoptionStatus;
        dogModal.querySelector("#hiddenDogId").value = dogId;
        dogModal.style.display = "block";
    }

    document.addEventListener("DOMContentLoaded", function () {
        const dogCards = document.querySelectorAll(".dog-card");

        // create dogCard
        dogCards.forEach((card) => {
            const dob = new Date(card.dataset.dob);
            const size = parseInt(card.dataset.size, 10);
            const gender = card.dataset.gender;

            // Calculate and append gender icon
            const genderIcon = document.createElement("i");
            genderIcon.classList.add("fas");
            genderIcon.classList.add(gender === "M" ? "fa-mars" : "fa-venus");
            card.querySelector("h4").insertAdjacentElement("afterend", genderIcon);

            const age = calculateAge(dob);
            const sizeGroup = getSizeGroup(size);

            // Create and append age and sizeGroup elements to the dog card
            const ageElement = document.createElement("p");
            ageElement.textContent = age;
            card.appendChild(ageElement);

            const sizeGroupElement = document.createElement("p");
            sizeGroupElement.textContent = `${sizeGroup} size`;
            card.appendChild(sizeGroupElement);
        });

        setupAddDogCardEventListener(".add-dog-btn", "block");
        setupAddDogCardEventListener(".create-dog-close", "none");

        function deleteDog(dogId, adoptionCenterId) {
        fetch(`/acenters/ac-dashboard/${adoptionCenterId}/dogs/${dogId}`, {
            method: "DELETE",
        })
            .then((response) => {
                if (!response.ok) {
                    console.error("Error deleting dog", response);
                } else {
                    // Reload the page to show the updated list of dogs
                    location.reload();
                }
            })
            .catch((error) => {
                console.error("Error deleting dog:", error);
            });
        }

        document.querySelectorAll(".delete-dog-btn").forEach((btn) => {
            btn.addEventListener("click", (event) => {
                const dogId = event.target.dataset.dogId;
                const adoptionCenterId = window.location.pathname.split("/")[3];
                // console.log(dogId, adoptionCenterId);
                deleteDog(dogId, adoptionCenterId);
            });
        });

        dogCards.forEach((card) => {
            card.addEventListener("click", function (event) {
                event.stopPropagation();
                event.preventDefault();
                console.log("clicked");
                openUpdateDogModal(card);
            });
        });
        const closeModal = document.querySelector(".update-dog-close");
        
        closeModal.addEventListener("click", () => {
            document.querySelector("#update-dog-modal").style.display = "none";
        });
    });

</script>
{{!-- <script type="text/javascript" src="/js/ac-dashboard.js"></script> --}}
<script type="module">
        // Update acenter with AJAX
    $("#update-acenter").submit(function (e) {
        e.preventDefault();

        let formData = new FormData($('#update-acenter')[0]);

        $.ajax({
            url: `/acenters/{{acenter._id}}`,
            type: "PUT",
            contentType: false,
            processData: false,
            cache: true,
            data: formData,
            success: function (data) {
                console.log(data);

                let successMessage = document.getElementById("success");
                if (successMessage) {
                    successMessage.remove();
                }

                let errorMessage = document.getElementById("error");
                if (errorMessage) {
                    errorMessage.remove();
                }

                let success = document.createElement("p");
                let container = document.querySelector(".acenter-info-form");

                success.innerText = "Adoption Center updated successfully";
                success.style.color = "green";
                success.style.marginTop = "10px";
                success.style.textAlign = "center";
                success.id = "success";
                container.appendChild(success);
            },
            error: function (err) {
                let data = formData;
                console.log(err);
                console.log(data);

                let errorMessage = document.getElementById("error");
                if (errorMessage) {
                    errorMessage.remove();
                }

                let successMessage = document.getElementById("success");
                if (successMessage) {
                    successMessage.remove();
                }

                let error = document.createElement("p");
                let container = document.querySelector(".acenter-info-form");
                let errorText = err.responseJSON.error;
                error.innerText = errorText;
                error.style.color = "var(--error-color)";
                error.style.marginTop = "10px";
                error.style.textAlign = "center";
                error.id = "error";
                container.appendChild(error);
            },
        });
    });
</script>
<script type="module">
    import clientValidation from "/js/client-validation-methods.js";

    let createDogForm = document.getElementById("create-dog-form");

    async function submitForm() {
        $.ajax({
            url: `/acenters/ac-dashboard/{{acenter._id}}`,
            type: "POST",
            data: $("#create-dog-form").serialize(),
            success: function (data) {
                // console.log(data);
                let error = document.getElementById("errorModal");
                if (error){
                    error.remove();
                }
                window.location.reload();
            },
            error: function (err) {
                // console.log(err);
                let error = document.getElementById("errorModal");
                if (error){
                    error.remove();
                }

                let newError = document.createElement('p');
                let container = document.getElementById('create-dog-modal');
                let errorText = err;
                newError.innerText = errorText;
                newError.style.color = "var(--error-color)";
                newError.style.marginTop = '10px';
                newError.style.textAlign = 'center';
                container.appendChild(newError);
            },
        });
    }

    if (createDogForm) {
        let nameIn = document.getElementById("dogName");
        let dobIn = document.getElementById("dogDob");
        let dogBreed1In = document.getElementById("dogBreed1");
        let dogBreed2In = document.getElementById("dogBreed2");
        let dogBreed3In = document.getElementById("dogBreed3");
        let genderIn = document.getElementById("dogGender");
        let sizeIn = document.getElementById("dogSize");

        let error = document.getElementById("errorModal");
        
        createDogForm.addEventListener("submit", async function (event) {
            event.preventDefault();
            let error = document.getElementById("errorModal");
            error.hidden = true;
            let isValid = true;
            try {

                
                nameIn.value = clientValidation.checkName(nameIn.value, "Name");

                dobIn.value = clientValidation.checkDate(
                    dobIn.value,
                    "Date of Birth",
                    0,
                    20
                );
                
                dogBreed1In.value = clientValidation.checkString(
                    dogBreed1In.value,
                    "Breed 1"
                );

                if (dogBreed2In.value) {
                    dogBreed2In.value = clientValidation.checkBreed(
                        dogBreed2In.value,
                        "Breed 2"
                    );
                }

                if (dogBreed3In.value) {
                    dogBreed3In.value = clientValidation.checkBreed(
                        dogBreed3In.value,
                        "Breed 3"
                    );
                }

                genderIn.value = clientValidation.checkGender(genderIn.value, 'Gender');

                sizeIn.value = clientValidation.checkPetWeight(parseInt(sizeIn.value), 'Size');

                if (isValid) {
                    await submitForm();
                }

            } catch (e) {
                event.preventDefault();
                isValid = false;
                error.hidden = false;
                error.innerHTML = e;
            }
            
        });
    };
    

</script>

<script type="module">
    import clientValidation from "/js/client-validation-methods.js";

    let updateDogForm = document.getElementById("update-dog-form");
    
    

    async function submitForm(dogId) {
        let formData = new FormData($('#update-dog-form')[0]);
        console.log(formData);
        $.ajax({
            url: `/acenters/{{acenter._id}}/dogs/${dogId}`,
            type: "PUT",
            contentType: false,
            processData: false,
            cache: true,
            data: formData,
            success: function (data) {
                // console.log(data);
                let error = document.getElementById("errorUpdateModal");
                if (error){
                    error.remove();
                }
                window.location.reload();
            },
            error: function (err) {
                // console.log(err);
                let error = document.getElementById("errorUpdateModal");
                if (error){
                    error.remove();
                }

                let newError = document.createElement('p');
                let container = document.getElementById('update-dog-modal');
                let errorText = err;
                newError.innerText = errorText;
                newError.style.color = "var(--error-color)";
                newError.style.marginTop = '10px';
                newError.style.textAlign = 'center';
                container.appendChild(newError);
            },
        });
    }

    if (updateDogForm) {
        let nameIn = document.getElementById("dogUpdateName");
        let dobIn = document.getElementById("dogUpdateDob");
        let dogBreed1In = document.getElementById("dogUpdateBreed1");
        let dogBreed2In = document.getElementById("dogUpdateBreed2");
        let dogBreed3In = document.getElementById("dogUpdateBreed3");
        let genderIn = document.getElementById("dogUpdateGender");
        let sizeIn = document.getElementById("dogUpdateSize");
        let statusIn = document.getElementById('dogUpdateAdoptionStatus');

        let error = document.getElementById("errorUpdateModal");

        updateDogForm.addEventListener("submit", async function (event) {
            event.preventDefault();
            error.hidden = true;
            let isValid = true;
            try {
                //console.log(nameIn.value);
                nameIn.value = clientValidation.checkName(nameIn.value, "Name");

                dobIn.value = clientValidation.checkDate(
                    dobIn.value,
                    "Date of Birth",
                    0,
                    20
                );
                
                dogBreed1In.value = clientValidation.checkBreed(
                    dogBreed1In.value,
                    "Breed 1"
                );

                if (dogBreed2In.value) {
                    dogBreed2In.value = clientValidation.checkBreed(
                        dogBreed2In.value,
                        "Breed 2"
                    );
                }

                if (dogBreed3In.value) {
                    dogBreed3In.value = clientValidation.checkBreed(
                        dogBreed3In.value,
                        "Breed 3"
                    );
                }

                genderIn.value = clientValidation.checkGender(genderIn.value, 'Gender');

                sizeIn.value = clientValidation.checkPetWeight(parseInt(sizeIn.value), 'Size');

                statusIn.value = clientValidation.checkAdoptionStatus(statusIn.value, 'Adoption Status');

                if (isValid) {
                    let dogIdIn = document.getElementById('hiddenDogId');
                    let dogId = dogIdIn.value;
                    await submitForm(dogId);
                }

            } catch (e) {
                event.preventDefault();
                isValid = false;
                error.hidden = false;
                error.innerHTML = e;
            }
            
        });
    };
</script>




                    