<main>
    <h2>Welcome, {{acenter.name}}</h2>
    <p>Address: {{acenter.address}}</p>
    <p>Phone: {{acenter.phone}}</p>
    <h3>Posted Dogs</h3>
    <ul>
        {{#each dogs}}
            <li>{{this.name}} - Breeds: {{this.breeds}} - DOB: {{this.dob}}</li>
        {{/each}}
    </ul>
</main>