<main class="scroller">
    <button class="scroller-button"><</button>
    <div class="scroller-dog-container">
        <div class="scroller-dog-image-container">
            <img id="dog-image" src="../assets/landing-dog.png" alt="dog" />
        </div>
        <div class="scroller-dog-info-container">
            <div class="scroller-dog-info-header">
                <h1 id="dog-name">{{dog.name}}</h1>
                <h2 id="dog-breeds">{{dog.breeds}}</h2>
                <h2 id="dog-age">{{dog.dob}} years</h2>
            </div>
            <div class="scroller-dog-info">
                <p id="dog-description">{{dog.desc}}</p>
            </div>
        </div>
        <div class="scroller-interaction-container">
            <button class="scroller-interaction-button like">♥</button>
            <button class="scroller-interaction-button dislike">X</button>
        </div>
    </div>
    <button class="scroller-button">></button>
    <script>
        let dogsData = JSON.parse('{{{dogs}}}');
    
        function breedName(breeds) {
            if (breeds.length > 1) {
                return breeds[0] + " Mix";
            } else {
                return breeds[0];
            }
        }

        let dogName = document.getElementById("dog-name");
        let dogBreeds = document.getElementById("dog-breeds");
        let dogAge = document.getElementById("dog-age");

        dogName.textContent = dogsData[0].name;
        dogBreeds.textContent = breedName(dogsData[0].breeds);
        dogAge.textContent = dogsData[0].age;

        let i = 0;

        let leftButton = document.getElementsByClassName("scroller-button")[0];
        let rightButton = document.getElementsByClassName("scroller-button")[1];

        leftButton.addEventListener("click", () => {
            if (i === 0) {
                i = dogsData.length - 1;
            } else {
                i--;
            }

            dogName.textContent = dogsData[i].name;
            dogBreeds.textContent = breedName(dogsData[i].breeds);
            dogAge.textContent = dogsData[i].age;
        });

        rightButton.addEventListener("click", () => {
            if (i === dogsData.length) {
                i = 0;
            } else {
                i++;
            }

            dogName.textContent = dogsData[i].name;
            dogBreeds.textContent = breedName(dogsData[i].breeds);
            dogAge.textContent = dogsData[i].age;
        });


    </script>
</main>