<main class="settings">
    <div class="settingsWrapper">  
        <div class="settingsContainer" id="user-settings">
            <h2 class="settingHeader">User Account Settings</h2>
            <div id="error" class="error">
                    {{#if error}}
                        {{error}}
                    {{/if}}
            </div>
            <form id="update-user" method="POST" enctype="multipart/form-data>
                <label class="settingsLabel" for="firstName">First Name</label>
                <input class="settingsInput" type="text" name="firstName" id="firstName" value="{{user.firstName}}" />

                <label class="settingsLabel" for="lastName">Last Name</label>
                <input class="settingsInput" type="text" name="lastName" id="lastName" value="{{user.lastName}}" />

                <label class="settingsLabel" for="email">Email</label>
                <input class="settingsInput" type="email" name="email" id="email" value="{{user.email}}" />

                <label class="settingsLabel" for="dob">Date of Birth</label>
                <input class="settingsInput" type="date" name="dob" id="dob" value="{{user.dob}}" />

                <label class="settingsLabel" for="phone">Phone</label>
                <input class="settingsInput" type="tel" name="phone" id="phone" value="{{user.phone}}" />

                <label class="settingsLabel" for="address">Address</label>
                <input class="settingsInput" type="text" name="address" id="address" value="{{user.address}}" />

                <label class="settingsLabel" for="password">Password</label>
                <input class="settingsInput" type="password" name="password" id="password"/>

                <label class="settingsLabel" for="image">Profile Picture</label>
                <input class="settingsInput" type="file" name="image" id="image" accept=".jpeg,.png,.HEIC,.img"/>

                <label class="settingsLabel" for="agePreference">Max Age Preference</label>
                <input class="settingsInput" type="number" min="0" name="agePreference" id="agePreference" value="{{user.dogPreferences.agePreference}}"/>

                <label class="settingsLabel" for="sizePreferenceMax">Max Weight Preference</label>
                <input class="settingsInput" type="number" min="0" name="sizePreferenceMax" id="sizePreferenceMax" value="{{user.dogPreferences.sizePreferenceMax}}"/>

                <label class="settingsLabel" for="genderPreferenceM">Disallow Male Dogs?</label>
                <input class="settingsInput" type="checkbox" id="genderPreferenceM" name="genderPreferenceM"/>

                <label class="settingsLabel" for="genderPreferenceF">Disallow Female Dogs?</label>
                <input class="settingsInput" type="checkbox" id="genderPreferenceF" name="genderPreferenceF"/>

                <button class="settingsSubmit" type="submit">Save</button>
            </form>
        </div>
        <div class="settingsContainer doggies">
            <h2 class="likedDogsHeader">Your Liked Dogs</h2>
            <div class="likedDogs">
                {{#each user.likedDogs}}
                <a href="/acenters/{{this.acenterId}}/dogs/{{this._id}}">
                    <div class="likedDog">
                        <img src="{{this.img}}" alt="dog" />
                        <p>{{this.name}}</p>
                    </div>
                </a>
                {{/each}}
            </div>
        </div>
    </div>
    
    <img src="{{user.img}}" alt="{{user.firstName}} {{user.lastName}}">

</main>

<!-- <script type="module" src="/js/user-update-validation.js"></script> -->
<script type="module">
    //check if checkboxes need to be checked
    console.log({{user.dogPreferences.genderPreferenceF}})
    if({{user.dogPreferences.genderPreferenceF}} != null && {{user.dogPreferences.genderPreferenceF}} === true){
        $("#genderPreferenceF").prop("checked", true)
    }

    if({{user.dogPreferences.genderPreferenceM}} != null && {{user.dogPreferences.genderPreferenceM}} === true){
        $("#genderPreferenceM").prop("checked", true)
    }


    //import clientValidation methods
    import clientValidation from "/js/client-validation-methods.js";

    let updateForm = document.getElementById("update-user");

    if (updateForm) {
        let emailAddressIn = document.getElementById("email");
        let passwordIn = document.getElementById("password");
        let firstNameIn = document.getElementById("firstName");
        let lastNameIn = document.getElementById("lastName");
        let dobIn = document.getElementById("dob");
        let phoneIn = document.getElementById("phone");
        let addressIn = document.getElementById("address");
        let image = document.getElementById('image');
        let agePreferenceIn = document.getElementById("agePreference");
        let sizePreferenceMaxIn = document.getElementById("sizePreferenceMax");
        let genderPreferenceMIn = document.getElementById("genderPreferenceM");
        let genderPreferenceFIn = document.getElementById("genderPreferenceF");

        let error = document.getElementById("error");

        updateForm.addEventListener("submit", function (event) {
            try {
                error.hidden = true;
                event.preventDefault();

                if(firstNameIn.value){
                firstNameIn.value = clientValidation.checkName(
                    firstNameIn.value,
                    "First Name"
                );
                }

                if(lastNameIn.value){
                    lastNameIn.value = clientValidation.checkName(
                        lastNameIn.value,
                        "Last Name"
                    );
                }


                if(email.value){
                    emailAddressIn.value = clientValidation.checkEmailRegex(
                        emailAddressIn.value,
                        "Email Address"
                    );
                }

                if(dobIn.value){
                    dobIn.value = clientValidation.checkDate(
                        dobIn.value,
                        "Date of Birth"
                    );
                }

                if(phoneIn.value){
                    phoneIn.value = clientValidation.checkPhoneRegex(
                        phoneIn.value,
                        "Phone Number"
                    );
                }

                if (passwordIn.value) {
                    passwordIn.value = clientValidation.checkPassword(
                        passwordIn.value,
                        "Password"
                    );
                }
                
                if(addressIn.value){
                    addressIn.value = clientValidation.checkString(
                        addressIn.value,
                        "Address"
                    );
                }

                if(agePreferenceIn.value){
                    agePreferenceIn.value = clientValidation.checkMaxPreference(
                        agePreferenceIn.value,
                        "Age Preference"
                    );
                }

                if(sizePreferenceMaxIn.value){
                    sizePreferenceMaxIn.value = clientValidation.checkMaxPreference(
                        sizePreferenceMaxIn.value,
                        "Size Preference"
                    );
                }

                //check that genderPreferenceM is of type checkbox
                if(genderPreferenceFIn.type != 'checkbox' || genderPreferenceMIn.type != 'checkbox'){
                    throw 'Gender Preferences MUST be of type checkbox.'
                }
                error.hidden = false;

                let formData = new FormData($('#update-user')[0]);

                $.ajax({
                    url: `/users/{{user._id}}`,
                    type: "PUT",
                    contentType: false,
                    processData: false,
                    cache: true,
                    data: formData,
                    success: function (data) {
                        console.log(data);

                        let successMessage = document.getElementById("success");
                        if (successMessage) {
                            successMessage.remove();
                        }

                        let errorMessage = document.getElementById("error");
                        if (errorMessage) {
                            errorMessage.remove();
                        }

                        let success = document.createElement("p");
                        let container = document.getElementById("user-settings");

                        success.innerText = "User updated successfully";
                        success.style.color = "green";
                        success.style.marginTop = "10px";
                        success.style.textAlign = "center";
                        success.id = "success";
                        container.appendChild(success);
                    },
                    error: function (err) {
                        let data = $("#update-user").serialize();
                        console.log(err);
                        console.log(data);

                        let errorMessage = document.getElementById("error");
                        if (errorMessage) {
                            errorMessage.remove();
                        }

                        let successMessage = document.getElementById("success");
                        if (successMessage) {
                            successMessage.remove();
                        }
                        let error = document.createElement("p");
                        let container = document.getElementById("user-settings");
                        let errorText = err.responseJSON.error;
                        if(typeof errorText == 'object'){
                            errorText = errorText.message
                        }
                        error.innerText = errorText;
                        error.style.color = "red";
                        error.style.marginTop = "10px";
                        error.style.textAlign = "center";
                        error.id = "error";
                        container.appendChild(error);
                    }
                });

                //if the user has uploaded a new image, send it to the server separately
                /*if($("#image").val()){
                    $.ajax({
                        url: '/user/{{user._id}}/uploadimage',
                        type: "POST",
                        data: document.getElementById("image").value,
                        success: function(data){
                            console.log(data);
                        },
                        error: function(err){
                            console.log(err);
                        }
                    });
                }*/
            } catch (e) {
                event.preventDefault();
                error.hidden = false;
                error.innerHTML = e;
            }
        });
    }
</script>
