<main>
    <section>
        <div class="user-info">
            <h2>{{user.firstName}} {{user.lastName}}</h2>
            <img
                src="{{user.img}}"
                alt="{{user.firstName}} {{user.lastName}}"
            >
            <br />
            <p>Email: {{user.email}}</p>
            <p>DOB: {{user.dob}}</p>
            <p>Phone Number: {{user.phone}}</p>
        </div>
        <div class="user-location">
            <p>Address: {{user.address}}</p>
            <iframe
                width="600"
                height="450"
                style="border:0"
                loading="lazy"
                allowfullscreen
                src="https://www.google.com/maps/embed/v1/place?q={{user.location.lat}}%2C%20{{user.location.long}}&key={{key}}"
            ></iframe>

        </div>
    </section>
</main>
