<main>
    <div class="signup-wrapper">
        <div class="graphic-image">
            <img src="../assets/40444.jpg" alt="Graphic Image with dogs" >
        </div>
        <div class="form-container">
            <h2 class="Signuph2">User Sign Up</h2>
            <div id="error" class="error">
                {{#if error}}
                    {{error}}
                {{/if}}
            </div>
            <form class="signup-form" id="signup-form" method="POST" action="/users/signup">
                
                <label class="userSULabel" for="email">Email</label>
                <input
                    class="userSUInput"
                    type="email"
                    id="email"
                    name="email"
                    value="{{email}}"
                    placeholder="Email"
                    required>
            
                <label class="userSULabel" for="password">Password</label>
                <input
                    class="userSUInput"
                    type="password"
                    id="password"
                    name="password"
                    placeholder="Password"
                    required>

                <label class="userSULabel" for="firstName">First Name</label>
                <input
                    class="userSUInput"
                    type="text"
                    id="firstName"
                    name="firstName"
                    value="{{firstName}}"
                    placeholder="First Name"
                    required>
                
                <label class="userSULabel" for="lastName">Last Name</label>
                <input
                    class="userSUInput"
                    type="text"
                    id="lastName"
                    name="lastName"
                    value="{{lastName}}"
                    placeholder="Last Name"
                    required>


                <label class="userSULabel" for="dob">Date of Birth</label>
                <input class="userSUInput" type="date" id="dob" name="dob" value="{{dob}}" >

                
                <label class="userSULabel" for="phone">Phone</label>
                <input
                    class="userSUInput"
                    type="tel"
                    id="phone"
                    name="phone"
                    value="{{phone}}"
                    placeholder="Phone Number"
                    required>
          
                
                <label class="userSULabel" for="address">Address</label>
                <textarea
                    class="userSUInput"
                    id="address"
                    name="address"
                    placeholder="Address"
                    required
                ></textarea>
 
                <button class="SignupSubmit" type="submit">Sign Up</button>
            </form>
            <div class="switchWrapper">
                <a class="switchACSignUp" href="#" onclick="switchToAcenterSignup()">Adoption Center Signup</a>
                <a class="switchToUserSignIn" href="#" onclick="switchToUserLogin()">Already have an account?</a>
            </div>
        </div>
    </div>
    <script>
        function switchToAcenterSignup() { window.location.href =
        "/acenters/signup-page"; }

        function switchToUserLogin() { window.location.href =
        "/users/login-page"; }
    </script>
    <script type="module" src="/js/user-signup-validation.js">
    </script>
</main>